@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// Here you can define the dark mode colors

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.loginPage {
  background-image: url('/Pata-Amiga/public/img/background.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  color: #fff; /* Cor do texto para garantir contraste com o fundo */
  text-align: center;
}